@import url("./components/dropdown.css");
@import url("./components/horizontalMenu.css");
@import url("./components/verticalMenu.css");

@import url("./styles/display.css");
@import url("./styles/flex.css");
@import url("./styles/float.css");
@import url("./styles/link.css");
@import url("./styles/opacity.css");
@import url("./styles/overflow.css");
@import url("./styles/position.css");
@import url("./styles/text.css");
@import url("./styles/input/input.css");

* {
    --transitionDuration: 500ms;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: var(--transitionDuration);
    outline: none;
}
html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
}